---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: mcp-openshift
  namespace: {{ .Values.namespace }}
spec:
  port:
    targetPort: http
  tls:
    insecureEdgeTerminationPolicy: Redirect
    termination: edge
  to:
    kind: Service
    name: mcp-openshift-proxy
    weight: 100
  wildcardPolicy: None
