---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.application_name }}
  namespace: {{ .Values.namespace }}
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  ports:
  - name: 8000-tcp
    protocol: TCP
    port: 8000
    targetPort: 8000
  internalTrafficPolicy: Cluster
  type: ClusterIP
  sessionAffinity: None
  selector:
    app: {{ .Values.application_name }}
    deployment: {{ .Values.application_name }}
