---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: mcp-gitea
  namespace: {{ .Values.namepace }}
spec:
  port:
    targetPort: http
  tls:
    insecureEdgeTerminationPolicy: Redirect
    termination: edge
  to:
    kind: Service
    name: mcp-gitea-proxy
    weight: 100
  wildcardPolicy: None
